RIOTAPI=your-riot-api-key
TOKEN=your-token
clientId=clientId
guildId=discord-guild-id
channelId=discord-channel-id

# user for static notification
STATICGAMENAME="league game name "
STATICTAGLINE="leage tag line, usually '#region'"

